.nav{
    background-color: black;
}
.row1{
   background-image: url(image/imgg1.jpg);
    height: 700px;
    width: 1500px;
     background-size: cover;
    padding: 20px;
    margin-left: 5px;
}


.row14h{
    height: 80px; 
    width: 1500px;
    background-color:  rgb(24, 22, 22);
    margin-left: 5px;
    padding: 5px;
}
.row14c{
    height: 200px;
    width: 1500px;
    padding: 5px;
    margin-left: 5px;
    background-color: rgb(24, 22, 22);
    display: flex;
}
.c1{
flex:20% ;
padding: 5px;
}
.c2{
   flex: 20%; 
   padding: 5px;
}
.c3{
    flex: 20%;
    padding: 5px;
}
.c4{
    flex: 20%;
    padding: 5px;
}
.c5{
    flex: 20%;
    padding: 5px;
}

.row15h{
    height: 80px; 
    width: 1500px;
    background-color:  rgb(24, 22, 22);
    margin-left: 5px;
    padding: 5px;
}
.row15c{
    height: 200px;
    width: 1500px;
    padding: 5px;
    margin-left: 5px;
    background-color: rgb(24, 22, 22);
    display: flex;
}
.c6{
    flex:20% ;
    padding: 5px;
    }
    .c7{
       flex: 20%; 
       padding: 5px;
    }
    .c8{
        flex: 20%;
        padding: 5px;
    }
    .c9{
        flex: 20%;
        padding: 5px;
    }
    .c10{
        flex: 20%;
        padding: 5px;
    }
    .row16h{
        height: 80px; 
        width: 1500px;
        background-color:  rgb(24, 22, 22);
        margin-left: 5px;
        padding: 5px;
    }
    .row16c{
        height: 200px;
        width: 1500px;
        padding: 5px;
        margin-left: 5px;
        background-color: rgb(24, 22, 22);
        display: flex;
    }
    .c11{
        flex:20% ;
        padding: 5px;
        }
        .c12{
           flex: 20%; 
           padding: 5px;
        }
        .c13{
            flex: 20%;
            padding: 5px;
        }
        .c14{
            flex: 20%;
            padding: 5px;
        }
        .c15{
            flex: 20%;
            padding: 5px;
        }
        .row17h{
            height: 80px; 
            width: 1500px;
            background-color:  rgb(24, 22, 22);
            margin-left: 5px;
            padding: 5px;
        }
        .row17c{
            height: 200px;
            width: 1500px;
            padding: 5px;
            margin-left: 5px;
            background-color: rgb(24, 22, 22);
            display: flex;
        }
        .c16{
            flex:20% ;
            padding: 5px;
            }
            .c17{
               flex: 20%; 
               padding: 5px;
            }
            .c18{
                flex: 20%;
                padding: 5px;
            }
            .c19{
                flex: 20%;
                padding: 5px;
            }
            .c20{
                flex: 20%;
                padding: 5px;
            }
            .row18h{
                height: 80px; 
                width: 1500px;
                background-color:  rgb(24, 22, 22);
                margin-left: 5px;
                padding: 5px;
            }
            .row18c{
                height: 200px;
                width: 1500px;
                padding: 5px;
                margin-left: 5px;
                background-color: rgb(24, 22, 22);
                display: flex;
            }
            .c21{
                flex:20% ;
                padding: 5px;
                }
                .c22{
                   flex: 20%; 
                   padding: 5px;
                }
                .c23{
                    flex: 20%;
                    padding: 5px;
                }
                .c24{
                    flex: 20%;
                    padding: 5px;
                }
                .c25{
                    flex: 20%;
                    padding: 5px;
                }
                .row19h{
                    height: 80px; 
                    width: 1500px;
                    background-color:  rgb(24, 22, 22);
                    margin-left: 5px;
                    padding: 5px;
                }
                .row19c{
                    height: 200px;
                    width: 1500px;
                    padding: 5px;
                    margin-left: 5px;
                    background-color: rgb(24, 22, 22);
                    display: flex;
                }
                .c26{
                    flex:20% ;
                    padding: 5px;
                    }
                    .c27{
                       flex: 20%; 
                       padding: 5px;
                    }
                    .c28{
                        flex: 20%;
                        padding: 5px;
                    }
                    .c29{
                        flex: 20%;
                        padding: 5px;
                    }
                    .c30{
                        flex: 20%;
                        padding: 5px;
                    }
                    
                
            
            
        
        
        
            
        
        
        
    
    
    
        
            
        
        
    
    
    
        
    
    
    



    
